<div class="pb-20 px-16">
  <div class="flex flex-wrap">
    <div class="w-[20%] justify-end hidden sm:flex pt-36">
      <img
        src="assets/images/me-about-me.svg"
        alt=""
        class="w-full max-w-[200px] me-appear"
      />
    </div>
    <div class="sm:w-[80%]">
      <div class="text-center pt-16">
        <div
          class="inline-block border-t-8 border-b-8 border-teal-300 px-5 py-3 text-white"
        >
          <h1 class="font-bold text-[40px]">Alejandro Ruiz</h1>
          <h3 class="text-[20px]">Mexican Web Developer</h3>
        </div>
        <div class="mt-24">
          <h3 class="text-white">
            Getting
            <span class="text-teal-300 underline underline-offset-4"
              >better</span
            >
            day by day
          </h3>
          <div class="pt-16 flex justify-center">
            <div class="relative">
              <div
                class="border-teal-300 border-2 rounded-[1rem] group w-36 h-12 ml-10 bg-neutral-900"
              >
                <a
                  title="Download Resume"
                  href="assets/pdf/Alejandro-Ruiz-Resume.pdf"
                  class="w-36 h-11 bg-teal-300 rounded-[0.8rem] px-4 text-neutral-900 text-center font-semibold absolute disassemble flex justify-center items-center gap-2"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m.75 12l3 3m0 0l3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
                    />
                  </svg>

                  <div class="cursive">Resume</div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-56 flex flex-wrap">
          <a
            href="hhttps://www.linkedin.com/in/alejandro-ru%C3%ADz-valdivia-a97308195/"
            target="_blank"
            class="grid grid-cols-12"
          >
            <div class="col-span-1 p-1 text-teal-300 flex items-center">
              <svg
                class="w-5 h-5"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 5 C 21 3.9 20.1 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 7.8007812 6.3007812 C 6.9007812 6.3007812 6.4003906 6.8 6.4003906 7.5 C 6.4003906 8.2 6.8992188 8.6992188 7.6992188 8.6992188 C 8.5992187 8.6992187 9.0996094 8.2 9.0996094 7.5 C 9.0996094 6.8 8.6007813 6.3007812 7.8007812 6.3007812 z M 6.5 10 L 6.5 17 L 9 17 L 9 10 L 6.5 10 z M 11.099609 10 L 11.099609 17 L 13.599609 17 L 13.599609 13.199219 C 13.599609 12.099219 14.499219 11.900391 14.699219 11.900391 C 14.899219 11.900391 15.599609 12.099219 15.599609 13.199219 L 15.599609 17 L 18 17 L 18 13.199219 C 18 10.999219 17.000781 10 15.800781 10 C 14.600781 10 13.899609 10.4 13.599609 11 L 13.599609 10 L 11.099609 10 z"
                ></path>
              </svg>
            </div>
            <div class="col-span-11 text-left p-1 text-white">
              alejandro ruiz valdivia
            </div>
          </a>
          <div class="grid grid-cols-12">
            <div class="col-span-1 p-1 text-teal-300 flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>
            </div>
            <div class="col-span-11 text-left p-1 text-white">
              alejandroruizval@gmail.com
            </div>
          </div>
          <div class="grid grid-cols-12">
            <div class="col-span-1 p-1 text-teal-300 flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                />
              </svg>
            </div>
            <div class="col-span-11 text-left p-1 text-white">
              Jalisco, México.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
