<div class="pb-10">
  <div class="flex justify-center py-10">
    <app-title text="Mind Stack"></app-title>
  </div>

  <div class="py-20 px-28">
    <div class="mb-10">
      <h1 class="text-teal-300 font-bold">Languages</h1>
      <div class="text-white">
        <div>English - B2 Upper Intermediate</div>
        <div>Spanish - Native</div>
      </div>
    </div>
    <div class="mb-10">
      <h1 class="text-teal-300 font-bold">Main Stack</h1>
      <div class="flex justify-start items-center gap-4">
        <div>
          <img
            src="assets/images/tech-logos/mongo.png"
            alt=""
            class="w-[25px]"
            title="MongoDB"
          />
        </div>
        <div>
          <img
            src="assets/images/tech-logos/express.png"
            alt=""
            class="w-[35px]"
            title="Express"
          />
        </div>
        <div>
          <img
            src="assets/images/tech-logos/angular.png"
            alt=""
            class="w-[40px]"
            title="Angular"
          />
        </div>
        <div>
          <img
            src="assets/images/tech-logos/node.png"
            alt=""
            class="w-[40px]"
            title="Node.js"
          />
        </div>
      </div>
    </div>
  </div>
</div>
