<div class="pb-10">
  <div class="flex justify-center py-10">
    <app-title text="Mind Stack"></app-title>
  </div>

  <div class="py-20 px-10 sm:px-28">
    <div class="mb-10">
      <h1 class="text-teal-300 font-bold">Languages</h1>
      <div class="text-white">
        <div>English - B2 Upper Intermediate</div>
        <div>Spanish - Native</div>
      </div>
    </div>
    <div class="mb-10">
      <h1 class="text-teal-300 font-bold">Main Stack</h1>
      <div class="flex flex-wrap justify-start items-center gap-4 pt-5">
        <div *ngFor="let tech of techStack" class="grid logo-tech">
          <div class="flex justify-center tech-img">
            <img
              [src]="tech.url"
              alt="{{ tech.alt }}"
              class="{{
                tech.class
              }} hover:scale-125 hover:grayscale-0 transition-all grayscale "
            />
          </div>
          <h1 class="opacity-0 pt-5 transition-opacity text-white tech-title">
            {{ tech.title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
