<div class="flex justify-center items-center h-screen w-full">
  <div>
    <div class="sm:flex justify-center">
      <div class="pl-10 sm:p-0">
        <div
          class="bg-neutral-900 border-4 border-teal-300 rounded-full w-[180px] h-[180px] sm:w-[200px] sm:h-[200px] overflow-hidden"
        >
          <img
            class="w-[280px] h-[280px] object-cover -mt-2 me-appear"
            src="assets/images/avatar-home.png"
            alt=""
          />
        </div>
      </div>
      <div class="flex items-center p-5 mt-6 sm:m-0">
        <div class="relative">
          <div
            class="border-teal-300 border-2 rounded-[1rem] group w-36 h-12 ml-10"
          >
            <div
              class="w-36 h-11 bg-teal-300 rounded-[0.8rem] px-4 text-neutral-900 text-center font-bold absolute disassemble"
            >
              <div>Hi!</div>
              <div class="-mt-2">I'm Alex Ruiz!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-20 h-[10%]">
      <app-title text="Frontend Developer"></app-title>
    </div>
  </div>
</div>
